![SIMEM_logo_1.png](../assets/SIMEM_logo_1.png)

[SiMEM](https://www.simem.co/)

## Objetivos de este Notebook

* Explicar cómo se puede consultar información de una variable predeterminada.

## Índice

1. [Importación de la clase VariableSIMEM](#importacion-de-la-clase-variablesimem)

2. [Consultar el listado de variables disponibles](#consultar-el-listado-de-variables-disponibles-dentro-de-la-clase)

3. [Buscar el código de una variable](#buscar-el-codigo-de-una-variable-de-interes)

4. [Consultar datos de la variable](#consultar-datos-de-la-variable)

### Importacion de la clase VariableSIMEM

En la siguiente celda se importa el objeto VariableSIMEM, que contiene las funciones necesarias para cumplir los objetivos anteriormente mencionados.

In [7]:
import sys

# !{sys.executable} -m pip install pydataxm    # Instala la librería pydatasimem.
from pydataxm.pydatasimem import VariableSIMEM # Importa la libreria que fue instalada con pip install pydataxm

### Consultar el listado de variables disponibles dentro de la clase

En la siguiente celda se muestra como consultar el listado de variables con el fin de buscar el código de la variable deseada.

In [8]:
lisatado_variables = VariableSIMEM.get_collection() # Obtiene el listado de variables que se pueden usar dentro de VariableSIMEM
lisatado_variables.head()                           # Imprime los primeros 5 registros del listado de variables

,CodigoVariable,Nombre
0,AportesHidricosMasa,Aportes hídricos de las series hidrológicas
1,AportesHidricosMasaPSS95,Aportes hídricos para un 95% de Probabilidad d...
2,CantidadVentasContratosSICEP,Cantidad ventas en contratos del SICEP
3,CapacidadUtilMasa,Capacidad útil del embalse
4,CargoMonomio,Cargos por uso

### Buscar el codigo de una variable de interes

En la siguiente celda se muestra como consultar el código de una variable a través de su nombre

In [9]:
nombre_variable = 'Precio' # Nombre de la variable que se desea buscar
cod_variable = lisatado_variables.query("Nombre.str.lower().str.contains(@nombre_variable.lower())")['CodigoVariable'].values # Busca el nombre dentro del listado de variables
print(cod_variable)        # Imprime los códigos de las variables que coinciden con el nombre

['MPO_Int' 'MPO_Nal' 'PAR_Ofertado' 'PB_Int' 'PB_Nal' 'PB_Tie'
 'POf_Original' 'PONE_ExpCol' 'PrecioEscasez' 'PrecioEscasezActivacion'
 'PrecioEscasezPonderado' 'PrecioMarginalEscasez'
 'PrecioOfertaArranqueParadaCOP' 'PTB']

Una vez obtenido el código de la variable de interés, se debe inicializar una instancia de la clase VariableSIMEM con este y dos fechas de interés, para poder obtener la información de la variable.

In [ ]:
cod_variable = 'PrecioEscasez' # Código de la variable deseada
fecha_inicio = '2024-01-01'    # Fecha inicial de los datos
fecha_fin = '2024-12-31'       # Fecha final de los datos

variable = VariableSIMEM(cod_variable, fecha_inicio, fecha_fin) # Se inicializa el objeto VariableSIMEM

### Consultar datos de la variable

En este caso se desea con sultar la información del `Precio de Escasez` durante el 2024

In [11]:
data = variable.get_data() # Obtiene los datos de la variable
data

****************************************************************************************************
Initializing object
The object has been initialized with the dataset: "Precios de escasez del Cargo por Confiabilidad"
****************************************************************************************************
Inicio consulta sincronica
Creacion url: 0.0010058879852294922
Extraccion de registros: 3.204993963241577
End of data extracting process
****************************************************************************************************

           CodigoVariable CodigoDuracion     Valor
Fecha
2024-12-01  PrecioEscasez            P1M  798.7259
2024-11-01  PrecioEscasez            P1M  811.9274
2024-10-01  PrecioEscasez            P1M  751.3103
2024-09-01  PrecioEscasez            P1M  785.0686
2024-08-01  PrecioEscasez            P1M  818.3814
2024-07-01  PrecioEscasez            P1M  810.7083
2024-06-01  PrecioEscasez            P1M  766.5341
2024-05-01  PrecioEscasez            P1M  793.3028
2024-04-01  PrecioEscasez            P1M  742.6505
2024-03-01  PrecioEscasez            P1M  727.8256
2024-02-01  PrecioEscasez            P1M  745.6851
2024-01-01  PrecioEscasez            P1M  739.8685